/* CSS Document */



 
    img { 
   border-radius: 50%;
   object-fit: cover;
   width: 250px;
   height: 250px;
   margin:50px 40px 0px 100px;
  
 }
 h3 {
   padding: 0px 0px 0px 120px;
 }
 
 i {
   font-size: 16px;
   padding: 0px 0px 0px 50px;
 }
 
   
 div {
   font-size: 16px;
   font-family: Arial, sans-serif;
   padding: 0px 0px 0px 0px;
 }
 
  ul {
   font-size: 16px;
   font-family: Arial, sans-serif;
   padding: 0px 0px 0px 0px;
 }
    ol {
   font-size: 16px;
   font-family: Arial, sans-serif;
   padding: 0px 0px 0px 170px;
 }
   
   
   a {
   font-size: 16px;
   font-family: Arial, sans-serif;
   padding: 0px 0px 0px 0px;
 }
   
 table {
   font-family: arial, sans-serif;
 
   width: 100%;
 }
 
 td, th {
  
   text-align: center;
   padding: 8px;
 }
 
 
 ol, table {
     margin: 0px 0px 0px 0px;
       font-family: Arial, sans-serif;
       font-size: 16px;
       color: #000000;
       
       }
     
  
